{% extends "layout.html" %}
{% from 'common/common.html' import search, flash, main_section_name %}

{% block body %}
  {{ main_section_name("Volumes") }}
  {{ flash(category, message) }}
  {{ search() }}
  <div id="volumes-list">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Mount point</th>
          <th>Driver</th>
          <th>Label</th>
          <th>Name</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {% for volume in volumes -%}
          <tr>
            <td>{{ volume.mount_point() }}</td>
            <td>{{ volume.driver() }}</td>
            <td>{{ volume.label() }}</td>
            <td>{{ volume.name() }}</td>
            <td>
              <form action="{{ url_for('volumes.remove_volume', volume_name=volume.name()) }}" method="post">
                <button type="submit" class="btn btn-danger button-container-action">
                  <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Remove
                </button>
              </form>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
