/* all */

#main-section {
  margin-top: 35px;
}

#main-section-name {
  padding: 15px;
}

/* containers section */

#containers-list {
  padding: 15px;
  padding-top: 50px;
}

#containers-action {
  text-align: center;
}

/* images section */

#images-list {
  padding: 15px;
  padding-top: 50px;
}
