/* all */

#main-section {
  margin-top: 35px;
}

#main-section-name {
  padding: 15px;
}

#actions-cell {
  text-align: center;
}

#flash-message {
  margin-left: 15px;
  margin-right: 15px;
}

/* containers section */

#containers-list {
  padding: 15px;
  padding-top: 50px;
}

/* volumes list */

#volumes-list {
  padding: 15px;
  padding-top: 50px;
}

#networks-list {
  padding: 15px;
  padding-top: 50px;
}

/* container info */

#container-info-panel {
  margin-top: 35px;
}

#container-actions {
  float: right;
  display: flex;
}

.button-container-action {
  margin: 0px 0px 0px 5px;
}

#container-configuration-tab {
  margin-top: 45px
}

#container-processes-tab {
  margin-left: 15px;
  margin-right: 15px;
}

#container-links-tab {
  margin-left: 15px;
  margin-right: 15px;
}

#container-volumes-tab {
  margin-left: 15px;
  margin-right: 15px;
}

/* images section */

#images-list {
  padding: 15px;
  padding-top: 50px;
}
