{% extends "layout.html" %}
{% block body %}
  <div id="main-section-name">
    <h1>Images</h1>
  </div>
  <div id="flash-message">
    {% for category, message in get_flashed_messages(with_categories=true) %}
      <div class="alert alert-dismissable alert-{{ category }}">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
      </div>
    {% endfor %}
  </div>
  <div id="search" class="col-lg-6">
    <form method="get" role="form">
      <div class="input-group">
        <input class="form-control input-xs" name="q" placeholder="Search..." value="{{ request.args.get('q', '') }}" />
          <span class="input-group-btn">
            <button class="btn btn-default" type="submit">Search!</button>
          </span>
      </div>
    </form>
  </div>
  <div id="images-list">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Repository</th>
          <th>TAG</th>
          <th>Image ID</th>
          <th>Created</th>
          <th>Size</th>
          <th>Action</th>
        </tr>
      </thead>
      {% for image in images -%}
      <tbody>
        <tr>
          <td>{{ image.RepoTags[0].split(':')[0] }}</td>
          <td>{{ image.RepoTags[0].split(':')[1] }}</td>
          <td>
            <a href="/images/{{ image.Id.split(':')[1][:12] }}">
              {{ image.Id.split(':')[1][:12] }}
            </a>
          </td>
          <td>{{ image.Created }}</td>
          <td>{{ image.Size }}</td>
          <td id=actions-cell>
            <form action="{{ url_for('images.delete_image', image_id=image.Id.split(':')[1][:12]) }}" method="post">
              <button type="submit" class="btn btn-danger">Delete</button>
            </form>
          </td>
        </tr>
      </tbody>
    {%- endfor %}
    </table>
  </div>
{% endblock %}
