{% extends "layout.html" %}
{% from 'common/common.html' import search, flash, main_section_name %}

{% block body %}
  {{ main_section_name("Images") }}
  {{ flash(category, message) }}
  {{ search() }}
  <div>
    <a href="/images/build" class="btn btn-info" id='build-image-btn' role="button">Build Image</a>
  </div>
  <div id="images-list">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Repository</th>
          <th>TAG</th>
          <th>Image ID</th>
          <th>Created</th>
          <th>Size</th>
          <th>Action</th>
        </tr>
      </thead>
      {% for image in images -%}
      <tbody>
        <tr>
          <td>{{ image.RepoTags[0].split(':')[0] }}</td>
          <td>{{ image.RepoTags[0].split(':')[1] }}</td>
          <td>
            <a href="/images/{{ image.Id.split(':')[1][:12] }}">
              {{ image.Id.split(':')[1][:12] }}
            </a>
          </td>
          <td>{{ image.Created }}</td>
          <td>{{ image.Size }}</td>
          <td id=actions-cell>
            <form action="{{ url_for('images.delete_image', image_id=image.Id.split(':')[1][:12]) }}" method="post">
              <button type="submit" class="btn btn-danger">Delete</button>
            </form>
          </td>
        </tr>
      </tbody>
    {%- endfor %}
    </table>
  </div>
{% endblock %}
