{% extends "layout.html" %}
{% from 'common/common.html' import search, flash, main_section_name %}

{% block body %}
  {{ main_section_name("Networks") }}
  {{ flash(category, message) }}
  {{ search() }}
  <div id="networks-list">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Id</th>
          <th>Driver</th>
          <th>Name</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {% for network in networks -%}
          <tr>
            <td>{{ network.id() }}</td>
            <td>{{ network.driver() }}</td>
            <td>{{ network.name() }}</td>
            <td>
              <form action="{{ url_for('networks.remove_network', network_id=network.id()) }}" method="post">
                <button class="btn btn-danger" type="submit">Delete</button>
              </form></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
