{% extends "layout.html" %}
{% block body %}
  <div id="main-section-name">
    <h1>Containers</h1>
  </div>
  <div id="search" class="col-lg-6">
    <form method="get" role="form">
      <div class="input-group">
        <input class="form-control input-xs" name="q" placeholder="Search..." value="{{ request.args.get('q', '') }}" />
          <span class="input-group-btn">
            <button class="btn btn-default" type="submit">Search!</button>
          </span>
      </div>
    </form>
  </div>
  <div id="containers-list">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Container ID</th>
          <th>Image</th>
          <th>Command</th>
          <th>Created</th>
          <th>Status</th>
          <th>Ports</th>
          <th>Names</th>
          <th>Actions</th>
        </tr>
      </thead>
      {% for container in containers -%}
      <tbody>
        <tr>
          <td>
            <a href="/containers/{{ container.short_id() }}">{{ container.short_id() }}</a>
          </td>
          <td>{{ container.image() }}</td>
          <td>{{ container.command() }}</td>
          <td>{{ container.created() }}</td>
          <td>{{ container.status() }}</td>
          <td>{{ container.ports() }}</td>
          <td>{{ container.name() }}</td>
          <td id=containers-action>
            <div class="btn-group">
              <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Actions <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                {% if container.state() == 'exited' %}
                <li>
                  <form action="{{ url_for('containers.start_container', container_id=container.short_id()) }}" method="post">
                    <button class="btn btn-link" type="submit">Start</button>
                  </form>
                </li>
                <li>
                  <form action="{{ url_for('containers.remove_container', container_id=container.short_id()) }}" method="post">
                    <button class="btn btn-link" type="submit">Delete</button>
                  </form>
                </li>
                {% else %}
                <li>
                  <form action="{{ url_for('containers.stop_container', container_id=container.short_id()) }}" method="post">
                    <button class="btn btn-link" type="submit">Stop</button>
                  </form>
                </li>
                <li>
                  <form action="{{ url_for('containers.restart_container', container_id=container.short_id()) }}" method="post">
                    <button class="btn btn-link" type="submit">Restart</button>
                  </form>
                </li>
                {% endif %}
              </ul>
            </div>
          </td>
        </tr>
      </tbody>
    {%- endfor %}
    </table>
  </div>
{% endblock %}
