{% extends "layout.html" %}
{% block body %}
  <div id="main-section-name">
    <h1>Containers</h1>
  </div>
  <div id="search" class="col-lg-6">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search for...">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Search!</button>
      </span>
    </div><!-- /input-group -->
  </div>
  <div id="containers-list">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th><input type="checkbox" value=""></th>
          <th>Container ID</th>
          <th>Image</th>
          <th>Command</th>
          <th>Created</th>
          <th>Status</th>
          <th>Ports</th>
          <th>Names</th>
        </tr>
      </thead>
      {% for container in containers -%}
      <tbody>
        <tr>
          <td><input type="checkbox" value=""></td>
          <td>
            <a href="/containers/{{ container.short_id() }}">{{ container.short_id() }}</a>
          </td>
          <td>{{ container.image() }}</td>
          <td>{{ container.command() }}</td>
          <td>{{ container.created() }}</td>
          <td>{{ container.status() }}</td>
          <td>{{ container.ports() }}</td>
          <td>{{ container.name() }}</td>
        </tr>
      </tbody>
    {%- endfor %}
    </table>
  </div>
{% endblock %}
