{% extends "layout.html" %}
{% from 'common/common.html' import search, flash, main_section_name %}

{% block body %}
  {{ main_section_name("Containers") }}
  {{ flash(category, message) }}
  {{ search() }}
  </div>
  <div id="containers-list">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Container ID</th>
          <th>Image</th>
          <th>Command</th>
          <th>Created</th>
          <th>Status</th>
          <th>Ports</th>
          <th>Names</th>
          <th>Actions</th>
        </tr>
      </thead>
      {% for container in containers -%}
      <tbody>
        <tr>
          <td>
            <a href="/containers/{{ container.short_id() }}">{{ container.short_id() }}</a>
          </td>
          <td>{{ container.image() }}</td>
          <td>{{ container.command() }}</td>
          <td>{{ container.created() }}</td>
          <td>{{ container.status() }}</td>
          <td>{{ container.ports() }}</td>
          <td>{{ container.name() }}</td>
          <td id=actions-cell>
            <div class="btn-group">
              <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Actions <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                {% if container.state() == 'exited' %}
                <li>
                  <form action="{{ url_for('containers.start_container', container_id=container.short_id()) }}" method="post">
                    <button class="btn btn-link" type="submit">Start</button>
                  </form>
                </li>
                <li>
                  <form action="{{ url_for('containers.remove_container', container_id=container.short_id()) }}" method="post">
                    <button class="btn btn-link" type="submit">Delete</button>
                  </form>
                </li>
                {% else %}
                <li>
                  <form action="{{ url_for('containers.stop_container', container_id=container.short_id()) }}" method="post">
                    <button class="btn btn-link" type="submit">Stop</button>
                  </form>
                </li>
                <li>
                  <form action="{{ url_for('containers.restart_container', container_id=container.short_id()) }}" method="post">
                    <button class="btn btn-link" type="submit">Restart</button>
                  </form>
                </li>
                {% endif %}
              </ul>
            </div>
          </td>
        </tr>
      </tbody>
    {%- endfor %}
    </table>
  </div>
{% endblock %}
